fastapi
uvicorn[standard]
pydantic
opencv-python-headless
numpy
Pillow
scikit-learn
matplotlib
python-multipart
requests
pydantic-settings
pytesseract
rapidfuzz
python-jose[cryptography]
passlib[bcrypt]==1.7.4
sqlalchemy[asyncio]
asyncpg
google-cloud-storage
pydantic_ai